<app-banner [background]="'bg-team'">
  <div content class="w-full md:w-1/3 flex flex-col gap-16">
    <div class="font-extrabold text-4xl">
      Somos <span class="text-cosmo">COSMOBIT</span>
    </div>
  </div>
</app-banner>
<app-content01 [image]="'bg-somos'" class="w-full flex flex-col gap-8 px-8 py-16 md:flex-row text-coolgray-dark">
  <span comment>
    Más que una empresa de servicios informáticos; somos un socio estratégico que impulsa el éxito de nuestros clientes.
  </span>
  <div detail class="flex flex-col gap-4">
    <h2 class="text-3xl font-bold">
      COSMOBIT Una Cultura Empresarial Resiliente y Orientada al Cliente
    </h2>
    <p class="mt-4 mb-4">
      La cultura empresarial de COSMOBIT se forja a partir de su rica historia y la pasión de sus fundadores, quienes previamente trabajaron en IBM y brindaron soporte a servidores AS400. Aquí están los aspectos clave que definen nuestra cultura
    </p>
    <h3 class="text-2xl font-semibold">
      Cultura Resiliente y Visionaria
    </h3>
    <ul class="list-disc list-inside">
      <li>
        Nos adaptamos ágilmente al cambio tecnológico. Atraemos talento joven mientras valoramos la experiencia de nuestros ingenieros sénior.
      </li>
      <li>
        Anticipamos el futuro con una mentalidad proactiva, siempre preparados para afrontar nuevos retos.
      </li>
    </ul>
    <h3 class="text-2xl font-semibold">
      Valores Fundamentales
    </h3>
    <ul class="list-disc list-inside">
      <li>
        El Cliente es Primordial: En COSMOBIT, cada decisión y acción gira en torno a satisfacer las necesidades de nuestros clientes. Su éxito es nuestro éxito.
      </li>
      <li>
        Visión Ambiciosa: Buscamos soluciones innovadoras y estratégicas. No nos conformamos con lo común; aspiramos a la excelencia.
      </li>
      <li>
        Unidad Inquebrantable: Promovemos la colaboración, la comunicación franca y el apoyo mutuo. Formamos un equipo cohesionado, sin jerarquías que nos dividan.
      </li>
    </ul>
    <h3 class="text-2xl font-semibold">
      Misión
    </h3>
    <p>
      "Ser el aliado clave en el crecimiento de nuestros clientes". Esta misión guía cada una de nuestras acciones. Nos comprometemos a ir más allá del papel de simples proveedores; nos convertimos en socios estratégicos, impulsando el desarrollo de las empresas que depositan su confianza en nosotros.
    </p>
  </div>
</app-content01>
